<main class="main">
  <div class="inner">
    <%= form_with(url: search_museums_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "search", class: "search-input" %>
      <%= form.submit "search", class: "search-btn" %>
    <% end %>
    <p class="card__title" id="hoge">Top Gallery</p>
    <div class="card__wrapper">
      <%= render partial: 'museums/museum', collection: @part_museums %>
    </div>
    <div class="more">
    <% if @all_museums.count > 6 %>
      <%= link_to "More →", museums_path %>
    <% end %>
    </div>
    <p class="memo__title">Recent MeMo</p>
    <div class="memo__list">
      <%= render partial: 'memos/memo', collection: @part_memos %>
    </div>
    <div class="more">
    <% if @all_memos.count > 6 %>
      <%= link_to "More →", "/museums/#{@all_museums.ids}/memos" %>
    <% end %>
    </div>
  </div>
</main>