<main class="main">
  <div class="inner">
    <%= form_with(url: search_museums_path, local: true, method: :get, class: "search_container") do |form| %>
      <%= form.text_field :keyword, placeholder: "Gallary Search", class: "search-input" %>
      <button type="submit" class="search_button">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
    <p class="card__title">Top Gallery</p>
    <div class="card__wrapper">
      <%= render partial: 'museums/museum', collection: @part_museums %>
    </div>
    <div class="more">
    <% if @all_museums.count > 6 %>
      <%= link_to "More →", museums_path %>
    <% end %>
    </div>
    <p class="memo__title">Recent MeMo</p>
    <div class="memo__list">
      <%= render partial: 'memos/memo', collection: @part_memos %>
    </div>
    <div class="more">
    <% if @all_memos.count > 6 %>
      <%= link_to "More →", "/museums/#{@all_museums.ids}/memos" %>
    <% end %>
    </div>
  </div>
</main>