<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: :user_icon, alt: 'app/assets/images/default.jpg' %>
      <% else %>
        <img src="/assets/default.jpg" class="user_icon" alt="ユーザーアイコン" >
      <% end %>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">Name</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table__col1">Profile</th>
            <td class="table__col2"><%= simple_format(@user.profile)%></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.name}'s MeMo"%>
      </h2>
      <% @user.memos.each do |memo|%>
        <li class="memos_list">
          <%= link_to simple_format(memo.memo), "/museums/#{memo.museum.id}", class: :memo_user %>
          <%= memo.museum.title %> / Likes : <%= memo.likes.count %>
        </li>
      <% end %>
      <% if user_signed_in? && current_user.id == @user.id%>
      <h2 class="page-heading">
        <%= "My Gallery"%>
      </h2>
      <div class="bookmark__list">
        <% @user.bookmarks.each do |bookmark|%>
          <li class="bookmark_list">
            <%= link_to image_tag(bookmark.museum.image, class: :bookmark_image ), museum_path(bookmark.museum.id) %>
          </li>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>