<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: :profile_image, alt: `default.jpg` %>
      <% end %>
      <h2 class="page-heading">
        Info
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">Name</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table__col1">Introduce</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.name}'s memo"%>
      </h2>
      <% @user.memos.each do |memo|%>
        <li class="comments_list">
          <%= memo.memo %>
        </li>
      <% end %>
    </div>
  </div>
</div>