<%= form_with local: true do |f|%>
  <div class="field">
    <%= f.label :title, "展覧会名" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :place, "会場" %><br />
    <%= f.text_area :place, class: :form__text %>
  </div>

  <div class="form">
    <div class="weight-bold-text">
      都道府県
    </div>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    <div class="weight-bold-text">
      ジャンル
    </div>
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
  </div>

  <div class="field">
    <%= f.label :artist, "アーティスト" %><br />
    <%= f.text_area :artist %>
  </div>

  <div class="field">
    <%= f.label :text, "説明" %><br />
    <%= f.text_area :text, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>