<main class="main">
  <div class="inner">
    <div class="museum__wrapper">
      <p class="museum__hedding">
        <%= @museum.title%>
      </p>

      <% if user_signed_in? && current_user.id == @museum.user_id %>
        <div class="museum__manage">
          <%= link_to "編集する", edit_museum_path, class: :museum__btn %>
          <%= link_to "削除する", museum_path(@museum.id), method: :delete, class: :museum__btn %>
        </div>
      <% end %>

      <div class="museum__image">
        <%= image_tag @museum.image %>
      </div>

      <div class="museum__body">
        <div class="museum__detail">
          <p class="detail__title">会場</p>
          <p class="detail__message">
            <%= @museum.place %>
          </p>
        </div>
        <div class="museum__detail">
          <p class="detail__title">都道府県</p>
          <p class="detail__message">
            <%= @museum.prefecture.name %>
          </p>
        </div>
        <div class="museum__detail">
          <p class="detail__title">ジャンル</p>
          <p class="detail__message">
            <%= @museum.genre.name %>
          </p>
        </div>
        <div class="museum__detail">
          <p class="detail__title">アーティスト</p>
          <p class="detail__message">
            <%= @museum.artist %>
          </p>
        </div>
      </div>

      <div class="museum__text">
        <p class="detail__title">説明</p>
        <p class="detail__message">
          <%= @museum.text %>
        </p>
      </div>

      <div class="museum__comments">
      <%= link_to image_tag("pen.png", class: :icon), "/museums/#{@museum.id}/memos/new" %>
        <ul class="comments_lists">
          <% if @memos %>
            <% @memos.each do |memo| %>
              <li class="comments_list">
                <%= link_to memo.memo, "/museums/#{memo.museum.id}/memos/#{memo.id}", class: :memo_user %>
                <%= link_to memo.user.name, "/users/#{memo.user.id}", class: :memo_user %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
