<main class="main">
  <div class="inner">
    <div class="museum__wrapper">
      <div class="museum__heading">
        <%= @museum.title%>
      
        <div class="bookmark__icon" id="bookmark_<%= @museum.id %>" >
          <%= render partial: "bookmarks/bookmark", local: {museum: @museum, bookmark: @bookmark} %>
        </div>

      </div>

      <% if user_signed_in? && current_user.admin? %>
        <div class="museum__manage">
          <%= link_to "編集する", edit_admin_museum_path, class: :museum__btn %>
          <%= link_to "削除する", admin_museum_path(@museum.id), method: :delete, class: :museum__btn %>
        </div>
      <% end %>

      <div class="museum__image">
        <%= image_tag @museum.image %>
      </div>

      <div class="museum__body">
        <div class="museum__detail">
          <p class="detail__title">Museum Name</p>
          <p class="detail__message">
            <%= @museum.place %>
          </p>
        </div>
        <div class="museum__detail">
          <p class="detail__title">Prefecture</p>
          <p class="detail__message">
            <%= @museum.prefecture.name %>
          </p>
        </div>
        <div class="museum__detail">
          <p class="detail__title">Genre</p>
          <p class="detail__message">
            <%= @museum.genre.name %>
          </p>
        </div>
        <div class="museum__detail">
          <p class="detail__title">Artist</p>
          <p class="detail__message">
            <%= @museum.artist %>
          </p>
        </div>
      </div>

      <div class="museum__text">
        <p class="detail__title">Gallery Info</p>
        <p class="detail__message">
          <%= safe_join(@museum.text.split("\n"),tag(:br))%>
        </p>
      </div>
    </div>

    <div class="museum__memos">
      <%= link_to image_tag("pen.png", class: :memo_icon), "/museums/#{@museum.id}/memos/new" %>
      <h2 class="memo_title">Gallery's MeMo</h2>
      <ul class="comments_lists">
        <% if @memos %>
          <% @memos.each do |memo| %>
            <li class="comments_list">
              <%= link_to simple_format(memo.memo), "/museums/#{memo.museum.id}/memos/#{memo.id}" %><br />
              （written by : <%= link_to memo.user.name, "/users/#{memo.user.id}"%> / Likes : <%= memo.likes.count %>）
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</main>
