<div class="memo_main">
  <% if memo.user.avatar.attached? %>
    <%=link_to image_tag(memo.user.avatar, class: :profile_image), "/users/#{memo.user.id}" %>
  <% else %>
    <%=link_to image_tag('/images/default.jpg', class: :profile_image), "/users/#{memo.user.id}" %>
  <% end %>

  <div class="memo__user">
    <%= memo.user.name %>
  </div>

  <li class="memos_list">
    <%= link_to simple_format(memo.memo), "/museums/#{memo.museum.id}/memos/#{memo.id}"%>
    （<%= l memo.created_at %>）
  </li>
</div>