<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">New MeMo</h2>
        <%= form_with model: @memo, url: "/museums/#{params[:museum_id]}/memos", method: :post, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
          <div class="memo_field">
            <%= f.label :memo, "memo" %><br />
            <%= f.text_area :memo, class: :text_area, placeholder: "作品の感想を思いのままに書いてみよう" %>
          </div>
          <div class="actions">
            <%= f.submit "SEND", class: :form__btn %>
          </div>
        <% end %> 
    </div>
  </div>
</div>