<main class="main">
  <div class="inner">
    <div class="museum__wrapper">
      <p class="museum__hedding">
        <%= @memo.museum.title%>
      </p>

      <div class="museum_image">
        <%=link_to image_tag(@memo.museum.image), museum_path(@memo.museum.id) %>
      </div>

      <div class="museum_memos">
        <% if @memo.user.image? %>
          <%=link_to image_tag(@memo.user.image.url, class: :user__icon), "/users/#{@memo.user.id}" %>
        <% else %>
          <%=link_to image_tag('/assets/default.jpg', class: :user__icon), "/users/#{@memo.user.id}" %>
        <% end %>

        <% if user_signed_in? && current_user.id == @memo.user_id %>
          <div class="delete__icon">
            <%= link_to image_tag("trash.png", class: :icon), museum_memo_path(@memo.id), method: :delete %>
          </div>
        <% else %>
          <div class="delete__icon">
            <%#= link_to image_tag("like.png", class: :icon), "/museums/#{@memo.museum.id}/memos/#{@memo.id}/likes" %>
          </div>
        <% end%>

        <ul class="memos_lists">
          <li class="memo_list">
            <%= safe_join(@memo.memo.split("\n"),tag(:br))%>
          </li>
          <p>Like: <%= @memo.likes.count %></p>
        </ul>

        <%#= button_to 'いいねを取り消す', "/museums/#{@memo.museum.id}/memos/#{@memo.id}/likes", method: :delete %>
        <%= button_to "Like", "/museums/#{@memo.museum.id}/memos/#{@memo.id}/likes" %>
        
      </div>
      
    </div>
  </div>
</main>