<main class="main">
  <div class="inner">
    <div class="museum__wrapper">
      <p class="museum__hedding">
        <%= @memo.museum.title%>
      </p>

      <div class="museum_image">
        <%=link_to image_tag(@memo.museum.image), museum_path(@memo.museum.id) %>
      </div>

      <div class="museum_memos">
        <% if @memo.user.image? %>
          <%=link_to image_tag(@memo.user.image.url, class: :user__icon), "/users/#{@memo.user.id}" %>
        <% else %>
          <%=link_to image_tag('/assets/default.jpg', class: :user__icon), "/users/#{@memo.user.id}" %>
        <% end %>

        <% if user_signed_in? && current_user.id == @memo.user_id %>
          <div class="delete__icon">
            <%= link_to image_tag("note.png", class: :delete_icon), " /museums/#{@memo.museum.id}/memos/#{@memo.id}/edit" %>
            <%= link_to image_tag("trash.png", class: :delete_icon), museum_memo_path(@memo.id), method: :delete %>
            <p id='like_count'>Like: <%= @memo.likes.count %></p>
          </div>
        <% else %>
          <div class="like__icon" id="like_<%= @memo.id %>" >
            <%= render partial: "likes/like", local: {memo: @memo, like: @like} %>
          </div>
        <% end%>

        <ul class="memos_lists">
          <li class="memo_list">
            <%= safe_join(@memo.memo.split("\n"),tag(:br))%>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</main>