<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BiBoRoku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
          </div>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to image_tag("profile.png", class: :icon), "/users/#{current_user.id}" %>
              <%= link_to image_tag("logout.png", class: :icon), destroy_user_session_path %>
              <%#= link_to image_tag("pen.png", class: :icon), new_museum_memo_path %>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to image_tag("login.png", class: :icon), new_user_session_path %>
              <%= link_to image_tag("signup.png", class: :icon), new_user_registration_path %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © BiBoRoku All rights reserved.</p>
    </footer>
  </body>
</html>
